.image-div {
    display: flex;
    flex-direction: column;
}

.image-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-uploads {
    display: none;
}

.button {
    user-select: none;
    background-color: buttonface;
    text-align: center;
    border-radius: 2px;
    color: buttontext;
    border: 1px outset buttonborder;
    border-image: initial;
}

.button:hover {
    background-color: #ccc;
}

.button:active {
    background-color: var(--background);
}