<body>
    <p style="color: #121212; font-family: 'Times New Roman', Times, serif; font-size: 18px;">
        Для сброса пароля, перейдите по ссылке ниже:<br>
        <a href="{ linkToResetPassword }">Сбросить пароль</a>
        <br>При возникновении сложностей с переходом по ссылке, скопируйте и вставьте указанный ниже URL в строку поиска в браузере:<br>
        <a href="{ linkToResetPassword }">{ linkToResetPassword }</a>
    </p>
    <p style="color: #121212; font-family: 'Times New Roman', Times, serif; font-size: 10px; text-align: center;">
        Если вы не оставляли запрос на сброс пароля, не обращайте внимания на это письмо.
    </p>
</body>