.input {
    --width: 350px;
    --font-size: larger;
    border: solid 2px black;
    width: var(--width);
    height: 50px;
    font-size: var(--font-size);
    background-color: var(--background);
    color: var(--foreground);
    text-align: center;
}

.invalid {
    outline-color: red;
    border-color: red;
}

@media screen and (width < 1080px) {
    .input {
        --width: 200px;
        --font-size: medium;
    }
}